In [73]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df= pd.read_excel("Downloads/query 2.xlsx")
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2015-06-28T23:57:15.530Z,28.0316,86.0560,10.00,4.7,mb,NaN,94.0,0.728,1.26,...,2022-07-31T15:46:25.420Z,"12 km NE of Kod?ri??, Nepal",earthquake,6.8,1.9,0.062,78.0,reviewed,us,us
1,2015-06-20T12:23:05.580Z,28.5523,82.6319,10.00,4.7,mb,NaN,92.0,2.513,0.61,...,2022-07-31T14:14:15.599Z,"41 km NNE of Besisahar, Nepal",earthquake,8.2,1.8,0.056,97.0,reviewed,us,us
2,2015-06-13T01:18:30.200Z,27.6326,86.0709,10.00,4.8,mb,NaN,40.0,0.674,0.68,...,2022-07-31T12:46:09.800Z,"38 km SSE of Kod?ri??, Nepal",earthquake,6.6,1.9,0.057,94.0,reviewed,us,us
3,2015-06-11T16:12:20.290Z,27.8321,85.5836,24.49,4.8,mb,NaN,76.0,0.265,0.61,...,2022-07-31T12:27:46.292Z,"14 km NNE of Nagarkot, Nepal",earthquake,8.0,1.4,0.052,114.0,reviewed,us,us
4,2015-05-29T10:00:00.270Z,27.9798,84.7819,10.00,4.8,mb,NaN,41.0,0.542,0.91,...,2022-07-31T10:07:29.021Z,"47 km NE of Bharatpur, Nepal",earthquake,6.7,1.6,0.052,112.0,reviewed,us,us

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             105 non-null    object
 1   latitude         105 non-null    float64
 2   longitude        105 non-null    float64
 3   depth            105 non-null    float64
 4   mag              105 non-null    float64
 5   magType          105 non-null    object
 6   nst              0 non-null      float64
 7   gap              104 non-null    float64
 8   dmin             104 non-null    float64
 9   rms              104 non-null    float64
 10  net              105 non-null    object
 11  id               105 non-null    object
 12  updated          105 non-null    object
 13  place            105 non-null    object
 14  type             105 non-null    object
 15  horizontalError  104 non-null    float64
 16  depthError       105 non-null    float64
 17  magError         98 non-null     float64
 18  magNst           97 non-null     float64
 19  status           105 non-null    object
 20  locationSource   105 non-null    object
 21  magSource        105 non-null    object
dtypes: float64(12), object(10)
memory usage: 18.2+ KB

In [75]:
#drop the columns "nst" since it doesnot have any data
df.drop(columns=["nst"],inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             105 non-null    object
 1   latitude         105 non-null    float64
 2   longitude        105 non-null    float64
 3   depth            105 non-null    float64
 4   mag              105 non-null    float64
 5   magType          105 non-null    object
 6   gap              104 non-null    float64
 7   dmin             104 non-null    float64
 8   rms              104 non-null    float64
 9   net              105 non-null    object
 10  id               105 non-null    object
 11  updated          105 non-null    object
 12  place            105 non-null    object
 13  type             105 non-null    object
 14  horizontalError  104 non-null    float64
 15  depthError       105 non-null    float64
 16  magError         98 non-null     float64
 17  magNst           97 non-null     float64
 18  status           105 non-null    object
 19  locationSource   105 non-null    object
 20  magSource        105 non-null    object
dtypes: float64(11), object(10)
memory usage: 17.4+ KB

In [76]:
#Drop all rows that contain missing values (NaN) from any column
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 104
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             97 non-null     object
 1   latitude         97 non-null     float64
 2   longitude        97 non-null     float64
 3   depth            97 non-null     float64
 4   mag              97 non-null     float64
 5   magType          97 non-null     object
 6   gap              97 non-null     float64
 7   dmin             97 non-null     float64
 8   rms              97 non-null     float64
 9   net              97 non-null     object
 10  id               97 non-null     object
 11  updated          97 non-null     object
 12  place            97 non-null     object
 13  type             97 non-null     object
 14  horizontalError  97 non-null     float64
 15  depthError       97 non-null     float64
 16  magError         97 non-null     float64
 17  magNst           97 non-null     float64
 18  status           97 non-null     object
 19  locationSource   97 non-null     object
 20  magSource        97 non-null     object
dtypes: float64(11), object(10)
memory usage: 16.7+ KB

In [77]:
# Drop the 'status' column from the DataFrame
df.drop(columns=["status"],inplace=True)

# Drop the 'locationSource' column 
df.drop(columns=["locationSource"],inplace=True)

# Drop the 'magSource' column 
df.drop(columns=["magSource"],inplace=True)

# Drop the 'net' column 
df.drop(columns=["net"],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 104
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             97 non-null     object
 1   latitude         97 non-null     float64
 2   longitude        97 non-null     float64
 3   depth            97 non-null     float64
 4   mag              97 non-null     float64
 5   magType          97 non-null     object
 6   gap              97 non-null     float64
 7   dmin             97 non-null     float64
 8   rms              97 non-null     float64
 9   id               97 non-null     object
 10  updated          97 non-null     object
 11  place            97 non-null     object
 12  type             97 non-null     object
 13  horizontalError  97 non-null     float64
 14  depthError       97 non-null     float64
 15  magError         97 non-null     float64
 16  magNst           97 non-null     float64
dtypes: float64(11), object(6)
memory usage: 13.6+ KB

In [78]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 104
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             97 non-null     object
 1   latitude         97 non-null     float64
 2   longitude        97 non-null     float64
 3   depth            97 non-null     float64
 4   mag              97 non-null     float64
 5   magType          97 non-null     object
 6   gap              97 non-null     float64
 7   dmin             97 non-null     float64
 8   rms              97 non-null     float64
 9   id               97 non-null     object
 10  updated          97 non-null     object
 11  place            97 non-null     object
 12  type             97 non-null     object
 13  horizontalError  97 non-null     float64
 14  depthError       97 non-null     float64
 15  magError         97 non-null     float64
 16  magNst           97 non-null     float64
dtypes: float64(11), object(6)
memory usage: 13.6+ KB

In [79]:
# Save the cleaned DataFrame to an Excel file named 'clean3.xlsx' inside the 'downloads' folder.
df.to_excel("downloads/clean3.xlsx",index=False)